<div class="container">
    <div class="p-grid p-jc-center">
        <p-card class="p-my-5" header="Busqueda de Contenedor" [style]="{'width': '50rem'}">
            <div class="p-fluid p-formgrid p-grid p-jc-center p-ai-center p-mt-2">
                <div class="p-field p-col-12 p-md-5">
                    <p-dropdown inputId="state" [options]="opciones" [(ngModel)]="selectedtipoBusq" placeholder="Seleccione" optionLabel="no_compag"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <input id="datoBusqueda" type="text" [(ngModel)]="valorBusqueda" (keyup.enter)="searchConten()" placeholder="Ingrese busqueda"  pInputText> 
                </div>
                <div class="p-field p-col-4 p-md-2">
                    <button pButton pRipple (click)="searchConten()" type="button" label="Buscar"></button>
                </div>
            </div>
        </p-card>
    </div>

    <div *ngIf="contenedores.length > 0" class="p-grid p-jc-center">
        <p-table class="p-shadow-2" [style.width.rem]="70" [value]="contenedores" selectionMode="single" [(selection)]="contenedorSeleccionado" dataKey="numero"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th >Nro.</th>
                    <th pSortableColumn="nombre">Contenedor<p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="numero">Numero Contenedor<p-sortIcon field="numero"></p-sortIcon></th>
                    <th pSortableColumn="paginas_cant">Cant. Paginas<p-sortIcon field="paginas_cant"></p-sortIcon></th>
                    <th pSortableColumn="usuario">Usuario<p-sortIcon field="usuario"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contenedor let-rowIndex="rowIndex">
                <tr [pSelectableRow]="contenedor">
                    <td>{{rowIndex + 1}}</td>
                    <td>{{contenedor.nombre}}</td>
                    <td>{{contenedor.numero}}</td>
                    <td>{{contenedor.paginas_cant}}</td>
                    <td>{{contenedor.usuario}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>